<main>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-logo">games</mat-icon>
      </div>
      <mat-card-title>Hardware game</mat-card-title>
      <mat-card-subtitle>22/05/2020</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Play and learn with this game,<br>match the word with the image
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="https://www.cerebriti.com/juegos-de-tecnologia/hardware-game">
        <mat-icon>launch</mat-icon>
      </a>
      <span>Play</span>
    </mat-card-actions>
  </mat-card>
</main>
