<main>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-logo" svgIcon="Logo"></mat-icon>
      </div>
      <mat-card-title>Santiago Lopez</mat-card-title>
      <mat-card-subtitle>Programmer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Hi, I am Santiago Lopez, I am 16 years old, I like to program in several
        languages like javascript, typescript, c++ and frameworks like Angular,
        Express and more.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="https://github.com/ThePez">
        <mat-icon>account_circle</mat-icon>
      </a>
      <span>santiagodavidlopezbenavides@gmail.com</span>
    </mat-card-actions>
  </mat-card>
</main>
