<main>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-logo" svgIcon="Logo"></mat-icon>
      </div>
      <mat-card-title>Santiago Lopez</mat-card-title>
      <mat-card-subtitle>Programmer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>I coded this website,<br>
        You can look at the code in the following icon</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="https://github.com/SanPez/Santiago">
        <mat-icon>launch</mat-icon>
      </a>
      <span>Code</span>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-logo" svgIcon="Angular"></mat-icon>
      </div>
      <mat-card-title>Angular</mat-card-title>
      <mat-card-subtitle>Google</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>It is a framework developed by Google,<br>
        It allows you to easily build websites</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="https://angular.io">
        <mat-icon>launch</mat-icon>
      </a>
      <span>Website</span>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon class="icon-logo" svgIcon="Node"></mat-icon>
      </div>
      <mat-card-title>Node.js</mat-card-title>
      <mat-card-subtitle>Ryan Dahl</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>It is an open source, multi-platform runtime environment</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="https://nodejs.org">
        <mat-icon>launch</mat-icon>
      </a>
      <span style="padding-left: 5px;">Website</span>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-logo" svgIcon="Github"></mat-icon>
      </div>
      <mat-card-title>Github</mat-card-title>
      <mat-card-subtitle>Microsoft</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>It is a project host using the Git version control system</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="https://github.com">
        <mat-icon>launch</mat-icon>
      </a>
      <span>Website</span>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-logo" svgIcon="Vscode"></mat-icon>
      </div>
      <mat-card-title>Visual Studio Code</mat-card-title>
      <mat-card-subtitle>Microsoft</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>It's an editor developed by Microsoft<br>
        It's the most popular code editor</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="https://code.visualstudio.com">
        <mat-icon>launch</mat-icon>
      </a>
      <span>Website</span>
    </mat-card-actions>
  </mat-card>

</main>
